/* Header.css */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo {
  width: 50px;
  height: 50px;
}

.heading {
  font-size: 24px;
  font-weight: bold;
}
