version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    volumes:
      - ./backend:/app

  frontend:
    build: ./ProyIHC-MiniApp
    ports:
      - "80:80"
    volumes:
      - ./ProyIHC-MiniApp:/app
