.menu-container-new {
  min-height: 100vh;
  width: 100%;
  background-color: #FFF9F0;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-header-new {
  width: 100%;
  background-color: #c01d2e; /* rojo */
  padding: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
  
  /* NO fixed, NO sticky */
  position: relative;
}

.menu-header-title {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
}

.menu-header-cart {
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
}

.menu-logo-new {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  object-fit: cover;
  margin-bottom: 6px;
  border: 3px solid #FFC107;
}

.menu-cart-badge-new {
  position: absolute;
  top: -6px;
  right: -10px;
  background-color: #FFC107;
  color: black;
  font-weight: bold;
  font-size: 0.7rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-cart-icon {
  border-radius: 30%; /*redondo*/
  width: 58px;
  height: 58px;
  object-fit: contain;
  /*padding: 2px;*/
  /*border: 2px solid #FFC107;*/
  /*filter: brightness(0) invert(1); /* opcional: lo hace blanco */
}


/* CARDS */
.cards-container-new {
  padding: 16px;
  width: 100%;
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;

  box-sizing: border-box;
}
